header {
  @apply fixed
    left-0
    top-0
    bg-[rgba(0,0,0,0.25)]
    w-full
    h-12 md:h-16 xxl:h-20
    px-4 md:px-6 xxl:px-8
    z-10
    text-white
    shadow-inner;
  backdrop-filter: blur(0.5rem);
  transition: 0.2s ease-out;

  &:hover,
  &.open {
    @apply bg-white 
      text-black;

    .nav-divider {
      @apply bg-black/25;
    }
  }

  &.open {
    .search-button-wrapper {
      @apply opacity-0 pointer-events-none cursor-default;
    }
  }

  &.search-open {
    @apply bg-white text-white;

    .header-logo {
      @apply text-black;
    }

    .nav {
      &-divider {
        @apply bg-white;
      }

      &-toggle-close {
        @apply opacity-100 w-fit text-black mr-1;
      }

      &-item-wrapper,
      &-item {
        @apply pointer-events-none cursor-default;
      }
    }
  }

  .header {
    &-content {
      @apply relative
        h-full
        flex
        flex-row
        justify-between
        content-center;

      > .media-holder {
        @apply relative
          w-56
          h-4
          text-white
          overflow-visible;
      }
      .nav {
        &-toggle {
          &-wrapper {
            @apply relative 
            gap-4 md:gap-6
            lg:hidden
            self-center
            items-center
            cursor-pointer;

            &.open {
              .nav-toggle {
                &-close {
                  @apply opacity-100;
                }
                &-open {
                  @apply opacity-0;
                }
              }
            }

            .search-button-wrapper {
              @apply !flex-row-reverse pointer-events-none mr-8 md:mr-10;

              .button-nav-search {
                @apply pl-0 pr-4 md:pr-6 pointer-events-auto;

                .stack {
                  @apply pointer-events-none;
                }

                svg {
                  @apply pointer-events-none;
                  transition: transform 0.2s ease-out;
                }
              }
            }
          }

          &-close {
            @apply opacity-0 cursor-pointer;
          }

          &-open,
          &-close {
            @apply absolute
            items-center
            justify-end
            inset-0;
            transition: 0.2s;

            svg {
              @apply size-4;
            }
          }

          &-open,
          &-close {
            @apply w-fit left-[unset];
          }
        }
      }
    }
    &-logo {
      @apply h-3 lg:h-4 self-center;
    }
  }
}
